@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,200&display=swap');
header{
    display: flex;
    align-items: center;
    justify-content:space-between ;
}
#corpo{
    background-color: #343a4b;
    font-family: 'Montserrat', sans-serif;
    font-weight: 550;
}
#calc-png{
    margin: 20px;
}

#texto-tema{
    margin: 7px;
}
#section{
    text-align: center;
    width: 300px;
    height: 425px;
    background-color: #464649;
    border-radius: 5px;
    margin: auto;
    margin-top: 20px;
    box-shadow: 0px 0px 30px #000000;
}
#resposta{
    border-style: none ;
    height: 100px;
    width: 290px;
    border-radius: 5px 5px 0px 0px;
    background-color: #464649;
    font-size:4vh;          
    display: flex;
    align-items: center;   
    justify-content: space-between;  
}

#click{
    display: flex;
    justify-content: space-between;
    margin: 0px 10px 3px 10px;
    background-color: #000000;
}
#x{
    font-size: 0.8em;
    color: #fafafa ;
    cursor: pointer;
    border-radius: 5px 0px 5px 0px;
    width: 20px;
}
#apagar{
    cursor: pointer;
    font-size: 0.8em;
    color: #ffffff ;

    cursor: pointer;
    border-radius: 50% 0px 0px 50%;
    width: 20px;
}
.botao{
    width: 75px;
    height: 65px;
    border-color: #040405;
    font-size: 2vh;
    margin: 0 auto;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1d1d9900 ;
    cursor: pointer;
}
.botao:hover{
    background-color: #238ee6 ;
    color: #ffffff;
    transition: 0.1s;
}
#flexbox{
    background-color: #1d1d99;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-weight: 550;
}
#igual{
    background-color: #970808;
}
#igual:hover{
    background-color: #6d0909;
}
#nomecalc{
    padding: 5px;
}
#nome{
    padding: 2px;
    font-weight: 700;
}
#renan{
    text-align: center;
    margin: 50px;
}
#renan a {
    color: #1577af;
    text-decoration: none;
}
#mat{
    text-align: right;
    margin: 20px;
}
.switch {
    display: inline-block;
    position: relative;
    width: 60px;
    height: 34px;
    margin: 10px;
  }
  
  .switch input {
    display: none;
  }
  
  .switch label {
    display: block;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    border-radius: 34px;
    transition: background-color 0.3s;
  }
  
  .switch label:after {
    content: "";
    display: block;
    position: absolute;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    top: 4px;
    left: 4px;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s;
  }
  
  .switch input:checked + label {
    background-color: #c8c8d8;
  }
  .switch input:checked + label:after {
    transform: translateX(26px);
    background-color: #000;
}
  
  .switch input:checked + label:after {
    transform: translateX(26px);
  }
  
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
.centered-div {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
  }

#btnHistorico{
    margin: 0 0 5px 250px;
}
#historico{
    opacity: 0;
    margin: 10px 0 0 20px;
    font-size: .4em;
    max-height: 80px;
    max-width: 200px;
    overflow: auto;
}

::-webkit-scrollbar {
    width: 2px; /* Largura da barra de rolagem */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #000000; /* Cor do preenchimento da barra de rolagem */
  }
  
  ::-webkit-scrollbar-track {
    background-color: #c8c8d8; /* Cor de fundo da área da barra de rolagem */
  }
  
  